body{
    margin: 0px;
    padding: 10px;
    background-color: wheat;
    background-image: url('images.png');

    font-family: 'Montserrat', sans-serif;

}
.input-fields{
   

    margin: 100px auto;
    text-align: center;
    
    margin-top: 200px;
    max-width: 500px;
    background-color: rgb(186, 133, 133);
  
    
}

.input-fields input,textarea{
    width: 97.5%;
    height: 50px;
    margin: 5px;
    
    
}

input:focus,textarea:focus {
    
    outline: 2px;
    border:2px solid rgb(230, 14, 68);
   

}

.top{
    background-color: rgb(234, 229, 229);
    text-align: center;
    padding: 10px;
    
    color:rgb(226, 58, 58)
}

.main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(248, 251, 252);
    color: rgb(19, 18, 18);
}

.main h3{
    border-bottom: 2px solid rgb(15, 15, 15);
    width: max-content;
    color:rgb(169, 17, 17)
}
.btn{
    text-align: center;
    margin: 20px;
}


button{
    width: 150px;
    height: 40px;
    background-color: rgb(207, 37, 15);
    color: rgb(255, 254, 254);
    font-size: 15px;
    border: 50px;
    border-radius: 7px;
}
